doctype html
html
  head
    title Password Reset
    style.
      a{
      text-decoration: none;
      }
      button{
      color:white;
      width:15rem;
      height:3rem;
      background-color:rgb(190,82,31);
      border-radius:1em;
      border:none
      }
  body
    p Hi #{firstName},
    p
      | Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
    a(href=`${url}`, target='_blank') 
      button  RESET YOUR PASSWORD
    p If you didn&apos;t forget your password, please ignore this email!